* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
}

@media screen and (max-width: 768px) {
    .menu-container {
      margin-left: 0;
      position: relative;
    }
  
    .menu-container ul {
      display: flex;    
      display: none;
      position: absolute;
      right: 15px;
      top: 31px;
      background-color: blue;
      
    }

    ul{
        list-style: none;
    }

    .menu-container:hover ul {
        display: block;
        display: inline;
      }
  
    .menu-container .separator {
      margin-right: auto;
    }
  }

  @media screen and (min-width: 769px) {
    .hamburger-menu-btn{
        display: none;
    }

    ul{
        display: flex;
        list-style: none;
    }

    ul li{
        padding: 0 5px;
    }
  }