* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
}

.sect1{
  display: flex;
  flex-wrap: wrap;
}

.card-sect1{
    flex-basis: 90%;
    margin: 0 auto;
    background-color: blueviolet;
    height: 500px;
    margin-top: 10px;
    border-radius: 2rem;
}

.card1-sect1 , .card2-sect1{
    flex-basis: 90%;
    margin: 0 auto;
    background-color: blueviolet;
    height: 300px;
    margin-top: 10px;
    border-radius: 2rem;
}

.sect2 {
  margin-top: 40px;
  background-color: violet;
  padding-top: 50px;
  padding-bottom: 10px;
}


.item1{
  background-color: aquamarine;
  height: 450px;
  border-radius: 2rem;
  width: 90%;
  margin: 5px auto;
  
}

.item2{
  background-color: aquamarine;
  height: 450px;
  border-radius: 2rem;
  width: 90%;
  margin: 20px auto;
}

.sect3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 10px;
}

.item1s3{
  background-color: aqua;
  flex-basis: 90%;
  height: 300px;
  border-radius: 2rem;
  margin-bottom: 10px;
}

.item2s3{
  background-color: rgb(15, 67, 67);
  flex-basis: 90%;
  height: 350px;
  margin: 10px 0;
  border-radius: 2rem;
}

.sect4{
  background-color: violet;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 15px;
}

.item1s4{
  height: 100px;
  background-color: aqua;
  flex-basis: 90%;
  margin-bottom: 30px;
  border-radius: 2rem;
}

.item2s4{
  height: 250px;
  background-color: aqua;
  flex-basis: 90%;
  margin: 15px 0;
  border-radius: 2rem;
}

@media screen and (max-width: 768px) {
    .menu-container {
      margin-left: 0;
      position: relative;
    }
  
    .menu-container ul {
      display: flex;    
      display: none;
      position: absolute;
      right: 15px;
      top: 31px;
      background-color: blue;
      
    }

    ul{
        list-style: none;
    }

    .menu-container:hover ul {
        display: block;
        display: inline;
      }
  
    .menu-container .separator {
      margin-right: auto;
    }
  }

  @media screen and (min-width: 769px) {
    .hamburger-menu-btn{
        display: none;
    }

    ul{
        display: flex;
        list-style: none;
    }

    ul li{
        padding: 0 5px;
    }
  }

  @media screen and (min-width: 480px) {
    .sect1 {
        display: flex;
        flex-wrap: wrap;
    }

    .card-sect1{
        flex-basis: calc((100% - 20px) / 3 * 2 );
        height: 300px;
        margin: 5px;
    }

    .card1-sect1{
        flex-basis: calc( (100% - 20px) / 3 );
        margin: 5px;
    }

    .card2-sect1{
        flex-basis: calc( (100% - 30px) / 3 );
        margin: 5px;
    }

  }

  @media screen and (min-width: 768px) {
    .sect1{
        width: 920px;
        margin: 0 auto;
    }
  }

  @media screen and (min-width: 480px) and (max-width: 768px) {
    .item1{
      height: 550px;
    }
    .item2{
      height: 400px;
    }
  }

  @media screen and (min-width: 769px) {
    .container{
      display: flex;
      width: 800px;
      margin: 0 auto;
    }
    

    .item1{
      height: 450px;
      margin: 0 5px;
    }
    .item2{
      height: 300px;
      margin: 0 5px;
      margin-top: 150px;
    }
  }
