* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.menu-container ul{
  color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
}

a{
  color: aliceblue;
}
.sect1{
  display: flex;
  flex-wrap: wrap;
}

.card-sect1{
    flex-basis: 90%;
    margin: 0 auto;
    background-color: blueviolet;
    height: 500px;
    margin-top: 10px;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.card-sect1 h1{
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
  flex-basis: 100%;
}

.card-sect1 p{
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  padding: 10px;
  flex-basis: 100%;

}

.box{
  border-radius: 2rem;
  background-color: azure;
  color: black;
  width: 70px;
  padding: 3px;
  margin: 9px auto;
}
img{
  width: 100%;
  height: auto;
  display: block;
  align-self: flex-end;
  flex-basis: 100%;
}

.card1-sect1 , .card2-sect1{
    flex-basis: 90%;
    margin: 0 auto;
    background-color: blueviolet;
    height: 300px;
    margin-top: 10px;
    border-radius: 2rem;
}

.card1-sect1 ,.card2-sect1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card1-sect1 i , .card2-sect1 i{
  flex-basis: 100%;
  font-size: 70px;
  padding: 10px;
}

.card1-sect1 h1 , .card2-sect1 h1{
  text-align: center;
  font-size: 20px;
  flex-basis: 100%;
}

.card1-sect1 p , .card2-sect1 p{
  text-align: center;
  font-size: 14px;
  padding: 10px;
  flex-basis: 100%;
}

.sect2 {
  margin-top: 40px;
  background-color: violet;
  padding-top: 50px;
  padding-bottom: 10px;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.item1{
  background-color: aquamarine;
  height: 450px;
  border-radius: 2rem;
  width: 90%;
  margin: 5px auto;
}

.item1 h1{
  text-align: center;
  font-size: 20px;
  padding: 40px 0px 10px 0px ;
}

.item1 p{
  text-align: center;
  font-size: 14px;
  padding: 10px;
}

.item2{
  background-color: aquamarine;
  height: 450px;
  border-radius: 2rem;
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.item2 h1{
  text-align: center;
  font-size: 20px;
  padding: 15px 0 ;
}

.item2 p{
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

.item2 span{
  text-align: center;
  font-size: 14px;
  padding: 10px;
  border-radius: 2rem;
  background-color: aqua;
  margin: 20px;
}

.sect3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 10px;
}

.item1s3{
  background-color: aqua;
  flex-basis: 90%;
  height: 300px;
  border-radius: 2rem;
  margin-bottom: 10px;
}

.item2s3{
  background-color: rgb(15, 67, 67);
  flex-basis: 90%;
  height: 350px;
  margin: 10px 0;
  border-radius: 2rem;
}

.parteconlosfondo{
  background-color: violet;
}
.sect4{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 15px;
}

.item1s4{
  height: 100px;
  background-color: aqua;
  flex-basis: 90%;
  margin-bottom: 30px;
  border-radius: 2rem;
}

.item2s4{
  height: 250px;
  background-color: aqua;
  flex-basis: 90%;
  margin: 15px 0;
  border-radius: 2rem;
}

.sect5{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 45px;
}

.item1s5{
  height: 950px;
  background-color: aqua;
  flex-basis: 90%;
  margin-bottom: 30px;
  border-radius: 2rem;
}



.item2s5{
  height: 320px;
  background-color: aqua;
  flex-basis: 90%;
  margin-bottom: 30px;
  border-radius: 2rem;
}

.sect6{
  background-color: violet;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 30px;
}

.item1s6{
  height: 320px;
  background-color: aqua;
  flex-basis: 90%;
  margin-bottom: 30px;
  
}

.item2s6{
  background-color: white;
  border-radius: 2rem;
  height: 50px;
  flex-basis: 90%;
  margin: 15px 0;
}

.item3s6{
  height: 20px;
  background-color: aqua;
  flex-basis: 90%;
  margin: 20px 0;
}

footer{
  background-color: black;
}

.footflex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item1f{
  flex-basis: 90%;
  height: 40px;
  background-color: aliceblue;
  margin-top: 10px;
  margin-bottom: 30px;
}

.item2f{
  flex-basis: 90%;
  height: 20px;
  background-color: aliceblue;
  margin-bottom: 20px;

}

@media screen and (max-width: 768px) {
    .menu-container {
      margin-left: 0;
      position: relative;
    }
  
    .menu-container ul {
      display: flex;    
      display: none;
      position: absolute;
      right: 15px;
      top: 31px;
      background-color: blue;
      
    }

    ul{
        list-style: none;
    }

    .menu-container:hover ul {
        display: block;
        display: inline;
      }
  
    .menu-container .separator {
      margin-right: auto;
    }
  }

  @media screen and (min-width: 769px) {
    .hamburger-menu-btn{
        display: none;
    }

    ul{
        display: flex;
        list-style: none;
    }

    ul li{
        padding: 0 5px;
    }

  }

  @media screen and (min-width: 480px) {
    .sect1 {
        display: flex;
        flex-wrap: wrap;
    }

    .card-sect1{
        flex-basis: calc((100% - 20px) / 3 * 2 );
        height: 300px;
        margin: 5px;
    }

    .card1-sect1{
        flex-basis: calc( (100% - 20px) / 3 );
        margin: 5px;
    }

    .card2-sect1{
        flex-basis: calc( (100% - 30px) / 3 );
        margin: 5px;
    }

    .item1s3{
      height: 140px;
    }

    .item2s3{
      height: 230px;
    }

    .item2s4 {
      margin: 10px;
      flex-basis: calc(100% / 2 - 20px);
    }

    .item1s5{
      flex-basis: calc(60% - 40px);
      margin: 10px;
    }

    .item2s5{
      flex-basis: calc(40% - 40px);
      margin: 10px;
    }

  }



  @media screen and (min-width: 768px) {
    .sect1 , .sect5{
        width: 920px;
        margin: 0 auto;
    }
  }

  @media screen and (min-width: 480px) and (max-width: 768px) {
    .item1{
      height: 550px;
    }
    .item2{
      height: 400px;
    }
  }

  @media screen and (min-width: 769px) {
    .container{
      display: flex;
      width: 800px;
      margin: 0 auto;
    }
    
    .item1{
      height: 450px;
      margin: 0 5px;
    }
    .item2{
      height: 300px;
      margin: 0 5px;
      margin-top: 150px;
    }

    .container3{
      width: 920px; 
      margin: 0 auto;
    }

    .item1s3 ,  .item2s3 {
      flex-basis: 100%;
    }

    .item2s4 {
      margin: 10px;
      flex-basis: calc(100% / 3 - 30px);
    }

    .sfondo{
      background-color: violet;
    }

    .sect6 , .footflex{
      width: 30%;
      margin: 0 auto;
    }

    
  }
